*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "Markazi Text", serif;;
    padding: 1rem;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 18px;
}

header, section, footer {
    margin: 1rem auto;
    background-color: #0e0e0e;
    padding: 1rem;
}
a {
    text-decoration: none;
}
a, .red{
    color: red;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div#logo {
    font-family: "Jacquard 24", serif;
    font-size: 1.5rem;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

/* Socials */
section#socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
}
h2 {
    width: 100%;
}
section#socials div {
    background-color: black;
    padding: 8px;
    border-radius: 2px;
}
section#socials div span {
    color: white;
}
section#socials div i {
    vertical-align: middle;
}

/*Projects*/
.project {
    padding: 1rem;
    background-color: black;
    margin: 1rem 0;
}
.project p {
    margin-bottom: 7px;
}

/*Copyright Text*/
footer {
    text-align: center;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    header, main, footer {
        width: 70%;
        margin: 1.5rem auto;
    }
    section#socials {
        justify-content: start;
        gap: 1rem;
    }
}
@media screen and (min-width: 1024px) {
    header, main, footer {
        width: 45%;
        margin: 1rem auto;
        font-size: 1.2rem;
    }
    header, section, footer {
        padding: 2rem;
    }
    header {
        position: sticky;
        top: 0;
    }
    section#socials div{
        padding: 0.5rem;
    }
    section#projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .project {
        padding: 1rem;
        margin: 1rem 0;
        width: calc(50% - 0.5rem);
    }
}